<h3>How this will work...</h3>

<p>
  When the time is right, you will be given a target, which will display on this
  website. Your goal is to "kill" your target with a spoon, which will also have
  their name on it.
</p>

<p>
  <strong>Please read the following rules in order to properly play:</strong>
</p>
<ol>
  <li>
    You must "kill" a person by tapping your spoon on their shoulder. You must
    submit your kills within 24 hours of having killed your target.
  </li>
  <li>
    You are safe if you are holding your spoon to your nose. Your hand must be
    touching your spoon (gloves allowed, but your hand must be in the glove.)
  </li>
  <li>
    Below is a list of safe spaces:
    <ul>
      <li>In class</li>
      <li>Five minutes before, and five minutes after a class change</li>
      <li>At a club event or meeting</li>
      <li>
        Where "killing" another person could potentially harm either the killer
        or the target.
      </li>
    </ul>
  </li>
  <li>
    Failure to abide by these rules will result in automatic expulsion from the
    game and disqualification from competing in the future.
  </li>
  <li>
    The winner of this years' competition will be in charge of overseeing the
    game next year. The winner is the last standing competitor.
  </li>
</ol>
