<div [style.display]="loggedin ? 'none' : 'block'" class="login">
  <p><strong>Log In</strong></p>
  <br />
  <form action="submit" (ngSubmit)="onSubmit()">
    <input
      type="text"
      name="Enter your email"
      id="uname"
      [formControl]="unamec"
      placeholder="email"
    />
    <br />
    <input
      type="text"
      name="Enter your password"
      id="pword"
      [formControl]="pwordc"
      placeholder="password"
    />
    <br />

    <button type="submit">Submit</button>
  </form>
  <app-register></app-register>
</div>
<app-loggedin
  [style.visibility]="loggedin ? 'visible' : 'hidden'"
  [user]="usr"
></app-loggedin>
